In [1]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [6]:
# this is known as a filter mask in that it filters the data based on true/false
df['last'] == 'Schafer'

0     True
1    False
2    False
Name: last, dtype: bool

In [7]:
filt = (df['last'] == 'Doe')

In [11]:
# passes filter into dataframe
# .loc is used since passing in boolean values 
df.loc[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [9]:
# the above call is identical to this call
df.loc[df['last'] == 'Doe']

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [18]:
# the ~ gets the false values (where the filter is not true)
# it's the same as saying filt == False
df.loc[~filt, ['last','email']]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com

In [16]:
# example of filter using the AND operator â†’ &
filt2 = (df['last'] == 'Doe') & (df['first'] == 'John')
df.loc[filt2]

  first last              email
2  John  Doe  JohnDoe@email.com

In [17]:
# example of filter using the OR operator â†’ |
filt3 = (df['last'] == 'Schafer') | (df['first'] == 'John')
df.loc[filt3]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JohnDoe@email.com